{
  "scripts": [
  	"node_scripts/_reedemserver/server.js",
  	"node_scripts/_searchserver/server.js",
  	"/src/videoproject/Code/code-overlord/manage-app2/server.js"
  ],
	"general_mysql_ip" : "{{ mysql_db_ip }}",
	"general_mysql_databasename" : "{{ mysql_db_name }}",
	"general_mysql_user" : "{{ mysql_root_username }}",
	"general_mysql_pass" : "{{ mysql_root_password }}",
	"general_mysql_port" : "{{ mysql_db_port }}",
	"server_hostname" : "{{ main_hosturl }}",
	"_reedemserver_cookieparser_password" : "1234567890QWERTY"
}